<div class="trademark-footer">
    <p>Apache Kafka&reg;, Apache Flink&reg;, Kafka&reg;, Flink&reg;, Apache&reg;, the Apache feather logo, and the Apache Kafka and Apache Flink project logos are either registered trademarks or trademarks of The Apache Software Foundation in the United States and/or other countries. No endorsement by The Apache Software Foundation is implied by the use of these marks.</p>
    <p>This site is not affiliated with, endorsed by, or part of The Apache Software Foundation. It is an independent community resource created by <a href="https://tomcooper.dev">Tom Cooper</a>.</p>
    <p>Official project pages: <a href="https://kafka.apache.org">kafka.apache.org</a> | <a href="https://flink.apache.org">flink.apache.org</a></p>
    <p>GitHub Repository: <a href="https://github.com/tomncooper/ossip">tomncooper/ossip</a></p>
</div>
