<!DOCTYPE html>

<head>
    <title>Flink Improvement Proposals</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h1>FLIP-{{ flip_data["id"] }}</h1>
    <p><a href="../flink.html">Back to FLIP Summary</a></p>
    <p>Last Updated: {{ date }}</p>
    <table>
        {% for key, value in flip_data.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>
                {% if value and value is string and (value.startswith('http://') or value.startswith('https://')) %}
                    <a href="{{ value }}">{{ value }}</a>
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
